@charset "UTF-8";
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}

[hidden],
template {
	display: none
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/roboto.woff2) format("woff2");
	src: url(../fonts/roboto.woff) format("woff")
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin-top: 0
}

h1 {
	font-size: 42px;
	margin-bottom: 30px
}

h2 {
	font-size: 34px;
	margin-bottom: 20px
}

h3 {
	margin-top: 0
}

.heading {
	position: relative;
	text-align: center
}

.heading:before {
	content: "";
	width: 50px;
	height: 3px;
	bottom: -10px;
	position: absolute;
	background: #d73e4d;
	left: 50%;
	transform: translateX(-50%)
}

p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 26px
}

button:focus {
	outline: 0
}

a {
	color: #333;
	text-decoration: none
}

fieldset {
	padding: 0;
	border: none
}

@font-face {
	font-family: factory;
	src: url(../fonts/factory.eot?m7nct6);
	src: url(../fonts/factory.eot?m7nct6#iefix) format("embedded-opentype"), url(../fonts/factory.ttf?m7nct6) format("truetype"), url(../fonts/factory.woff?m7nct6) format("woff"), url(../fonts/factory.svg?m7nct6#factory) format("svg");
	font-weight: 400;
	font-style: normal
}

i {
	font-family: factory!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-close:before {
	content: ""
}

.icon-twitter:before {
	content: ""
}

.icon-facebook:before {
	content: ""
}

.icon-github:before {
	content: ""
}

.icon-instagram:before {
	content: ""
}

.icon-camera:before {
	content: ""
}

.icon-location:before {
	content: ""
}

.icon-edit:before {
	content: ""
}

.icon-chart:before {
	content: ""
}

.icon-phone:before {
	content: ""
}

.icon-hamburger:before {
	content: ""
}

.icon-envelope:before {
	content: ""
}

.icon-code:before {
	content: ""
}

.icon-anchor:before {
	content: ""
}

.icon-support:before {
	content: ""
}

.icon-brush:before {
	content: ""
}

.icon-line-chart:before {
	content: ""
}

body {
	height: 100%;
	min-width: 320px;
	overflow-x: hidden;
	font-family: Roboto
}

*,
:after,
:before {
	box-sizing: border-box
}

.l-footer {
	text-align: center;
	background: #292929;
	color: #fff
}

.l-footer .heading {
	margin-top: 30px
}

.l-footer__icons {
	font-size: 36px;
	margin-bottom: 30px;
	transition: all .3s ease
}

.l-footer__icons i {
	padding: 15px;
	cursor: pointer
}

.l-footer__icons i:hover {
	color: #d73e4d;
	transition: all .3s ease
}

.l-footer__link {
	color: #fff;
	transition: all .3s ease
}

.l-footer__link:hover {
	color: #d73e4d;
	transition: all .3s ease
}

.l-header {
	width: 100%;
	height: 60px;
	background: #1e1e1e;
	display: flex;
	position: fixed;
	justify-content: space-between;
	z-index: 1000;
	color: #fff
}

.l-header__logo {
	line-height: 60px;
	position: relative;
	left: 15px;
	display: flex;
	align-items: center
}

.l-main-row {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	position: relative
}

[class*=grid-],
[class*=grid_],
[class~=grid] {
	flex-flow: row wrap;
	margin: 0 -10px;
	display: flex
}

[class*=col-],
[class*=col_],
[class~=col] {
	padding: 0 10px 20px;
	max-width: 100%
}

[class*=col_],
[class~=col] {
	flex: 1 1 0%
}

[class*=col-] {
	flex: none
}

[class*=grid-][class*=col-],
[class*=grid-][class*=col_],
[class*=grid-][class~=col],
[class*=grid_][class*=col-],
[class*=grid_][class*=col_],
[class*=grid_][class~=col],
[class~=grid][class*=col-],
[class~=grid][class*=col_],
[class~=grid][class~=col] {
	margin: 0;
	padding: 0
}

[class*=grid-][class*=-noGutter] {
	margin: 0
}

[class*=grid-][class*=-noGutter]>[class*=col-],
[class*=grid-][class*=-noGutter]>[class~=col] {
	padding: 0
}

[class*=grid-][class*=-noWrap] {
	flex-wrap: nowrap
}

[class*=grid-][class*=-center] {
	justify-content: center
}

[class*=grid-][class*=-right] {
	justify-content: flex-end;
	align-self: flex-end;
	margin-left: auto
}

[class*=grid-][class*=-top] {
	align-items: flex-start
}

[class*=grid-][class*=-middle] {
	align-items: center
}

[class*=grid-][class*=-bottom] {
	align-items: flex-end
}

[class*=grid-][class*=-reverse] {
	flex-direction: row-reverse
}

[class*=grid-][class*=-column] {
	flex-direction: column
}

[class*=grid-][class*=-column]>[class*=col-] {
	flex-basis: auto
}

[class*=grid-][class*=-column-reverse] {
	flex-direction: column-reverse
}

[class*=grid-][class*=-spaceBetween] {
	justify-content: space-between
}

[class*=grid-][class*=-spaceAround] {
	justify-content: space-around
}

[class*=grid-][class*=-equalHeight]>[class*=col-],
[class*=grid-][class*=-equalHeight]>[class*=col_],
[class*=grid-][class*=-equalHeight]>[class~=col] {
	-ms-grid-row-align: stretch;
	align-self: stretch
}

[class*=grid-][class*=-equalHeight]>[class*=col-]>*,
[class*=grid-][class*=-equalHeight]>[class*=col_]>*,
[class*=grid-][class*=-equalHeight]>[class~=col]>* {
	height: 100%
}

[class*=grid-][class*=-noBottom]>[class*=col-],
[class*=grid-][class*=-noBottom]>[class*=col_],
[class*=grid-][class*=-noBottom]>[class~=col] {
	padding-bottom: 0
}

[class*=col-][class*=-top] {
	align-self: flex-start
}

[class*=col-][class*=-middle] {
	-ms-grid-row-align: center;
	align-self: center
}

[class*=col-][class*=-bottom] {
	align-self: flex-end
}

[class*=col-][class*=-first] {
	order: -1
}

[class*=col-][class*=-last] {
	order: 1
}

[class*=grid-1]>[class*=col-],
[class*=grid-1]>[class*=col_],
[class*=grid-1]>[class~=col] {
	flex-basis: 100%;
	max-width: 100%
}

[class*=grid-2]>[class*=col-],
[class*=grid-2]>[class*=col_],
[class*=grid-2]>[class~=col] {
	flex-basis: 50%;
	max-width: 50%
}

[class*=grid-3]>[class*=col-],
[class*=grid-3]>[class*=col_],
[class*=grid-3]>[class~=col] {
	flex-basis: 33.33333%;
	max-width: 33.33333%
}

[class*=grid-4]>[class*=col-],
[class*=grid-4]>[class*=col_],
[class*=grid-4]>[class~=col] {
	flex-basis: 25%;
	max-width: 25%
}

[class*=grid-5]>[class*=col-],
[class*=grid-5]>[class*=col_],
[class*=grid-5]>[class~=col] {
	flex-basis: 20%;
	max-width: 20%
}

[class*=grid-6]>[class*=col-],
[class*=grid-6]>[class*=col_],
[class*=grid-6]>[class~=col] {
	flex-basis: 16.66667%;
	max-width: 16.66667%
}

[class*=grid-7]>[class*=col-],
[class*=grid-7]>[class*=col_],
[class*=grid-7]>[class~=col] {
	flex-basis: 14.28571%;
	max-width: 14.28571%
}

[class*=grid-8]>[class*=col-],
[class*=grid-8]>[class*=col_],
[class*=grid-8]>[class~=col] {
	flex-basis: 12.5%;
	max-width: 12.5%
}

[class*=grid-9]>[class*=col-],
[class*=grid-9]>[class*=col_],
[class*=grid-9]>[class~=col] {
	flex-basis: 11.11111%;
	max-width: 11.11111%
}

[class*=grid-10]>[class*=col-],
[class*=grid-10]>[class*=col_],
[class*=grid-10]>[class~=col] {
	flex-basis: 10%;
	max-width: 10%
}

[class*=grid-11]>[class*=col-],
[class*=grid-11]>[class*=col_],
[class*=grid-11]>[class~=col] {
	flex-basis: 9.09091%;
	max-width: 9.09091%
}

[class*=grid-12]>[class*=col-],
[class*=grid-12]>[class*=col_],
[class*=grid-12]>[class~=col] {
	flex-basis: 8.33333%;
	max-width: 8.33333%
}

@media screen and (min-width:1024px) and (max-width:1599px) {
	[class*=_lg-1]>[class*=col-],
	[class*=_lg-1]>[class*=col_],
	[class*=_lg-1]>[class~=col] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=_lg-2]>[class*=col-],
	[class*=_lg-2]>[class*=col_],
	[class*=_lg-2]>[class~=col] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=_lg-3]>[class*=col-],
	[class*=_lg-3]>[class*=col_],
	[class*=_lg-3]>[class~=col] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=_lg-4]>[class*=col-],
	[class*=_lg-4]>[class*=col_],
	[class*=_lg-4]>[class~=col] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=_lg-5]>[class*=col-],
	[class*=_lg-5]>[class*=col_],
	[class*=_lg-5]>[class~=col] {
		flex-basis: 20%;
		max-width: 20%
	}
	[class*=_lg-6]>[class*=col-],
	[class*=_lg-6]>[class*=col_],
	[class*=_lg-6]>[class~=col] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=_lg-7]>[class*=col-],
	[class*=_lg-7]>[class*=col_],
	[class*=_lg-7]>[class~=col] {
		flex-basis: 14.28571%;
		max-width: 14.28571%
	}
	[class*=_lg-8]>[class*=col-],
	[class*=_lg-8]>[class*=col_],
	[class*=_lg-8]>[class~=col] {
		flex-basis: 12.5%;
		max-width: 12.5%
	}
	[class*=_lg-9]>[class*=col-],
	[class*=_lg-9]>[class*=col_],
	[class*=_lg-9]>[class~=col] {
		flex-basis: 11.11111%;
		max-width: 11.11111%
	}
	[class*=_lg-10]>[class*=col-],
	[class*=_lg-10]>[class*=col_],
	[class*=_lg-10]>[class~=col] {
		flex-basis: 10%;
		max-width: 10%
	}
	[class*=_lg-11]>[class*=col-],
	[class*=_lg-11]>[class*=col_],
	[class*=_lg-11]>[class~=col] {
		flex-basis: 9.09091%;
		max-width: 9.09091%
	}
	[class*=_lg-12]>[class*=col-],
	[class*=_lg-12]>[class*=col_],
	[class*=_lg-12]>[class~=col] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
}

@media screen and (max-width:1023px) {
	[class*=_md-1]>[class*=col-],
	[class*=_md-1]>[class*=col_],
	[class*=_md-1]>[class~=col] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=_md-2]>[class*=col-],
	[class*=_md-2]>[class*=col_],
	[class*=_md-2]>[class~=col] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=_md-3]>[class*=col-],
	[class*=_md-3]>[class*=col_],
	[class*=_md-3]>[class~=col] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=_md-4]>[class*=col-],
	[class*=_md-4]>[class*=col_],
	[class*=_md-4]>[class~=col] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=_md-5]>[class*=col-],
	[class*=_md-5]>[class*=col_],
	[class*=_md-5]>[class~=col] {
		flex-basis: 20%;
		max-width: 20%
	}
	[class*=_md-6]>[class*=col-],
	[class*=_md-6]>[class*=col_],
	[class*=_md-6]>[class~=col] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=_md-7]>[class*=col-],
	[class*=_md-7]>[class*=col_],
	[class*=_md-7]>[class~=col] {
		flex-basis: 14.28571%;
		max-width: 14.28571%
	}
	[class*=_md-8]>[class*=col-],
	[class*=_md-8]>[class*=col_],
	[class*=_md-8]>[class~=col] {
		flex-basis: 12.5%;
		max-width: 12.5%
	}
	[class*=_md-9]>[class*=col-],
	[class*=_md-9]>[class*=col_],
	[class*=_md-9]>[class~=col] {
		flex-basis: 11.11111%;
		max-width: 11.11111%
	}
	[class*=_md-10]>[class*=col-],
	[class*=_md-10]>[class*=col_],
	[class*=_md-10]>[class~=col] {
		flex-basis: 10%;
		max-width: 10%
	}
	[class*=_md-11]>[class*=col-],
	[class*=_md-11]>[class*=col_],
	[class*=_md-11]>[class~=col] {
		flex-basis: 9.09091%;
		max-width: 9.09091%
	}
	[class*=_md-12]>[class*=col-],
	[class*=_md-12]>[class*=col_],
	[class*=_md-12]>[class~=col] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
}

@media screen and (max-width:767px) {
	[class*=_sm-1]>[class*=col-],
	[class*=_sm-1]>[class*=col_],
	[class*=_sm-1]>[class~=col] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=_sm-2]>[class*=col-],
	[class*=_sm-2]>[class*=col_],
	[class*=_sm-2]>[class~=col] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=_sm-3]>[class*=col-],
	[class*=_sm-3]>[class*=col_],
	[class*=_sm-3]>[class~=col] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=_sm-4]>[class*=col-],
	[class*=_sm-4]>[class*=col_],
	[class*=_sm-4]>[class~=col] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=_sm-5]>[class*=col-],
	[class*=_sm-5]>[class*=col_],
	[class*=_sm-5]>[class~=col] {
		flex-basis: 20%;
		max-width: 20%
	}
	[class*=_sm-6]>[class*=col-],
	[class*=_sm-6]>[class*=col_],
	[class*=_sm-6]>[class~=col] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=_sm-7]>[class*=col-],
	[class*=_sm-7]>[class*=col_],
	[class*=_sm-7]>[class~=col] {
		flex-basis: 14.28571%;
		max-width: 14.28571%
	}
	[class*=_sm-8]>[class*=col-],
	[class*=_sm-8]>[class*=col_],
	[class*=_sm-8]>[class~=col] {
		flex-basis: 12.5%;
		max-width: 12.5%
	}
	[class*=_sm-9]>[class*=col-],
	[class*=_sm-9]>[class*=col_],
	[class*=_sm-9]>[class~=col] {
		flex-basis: 11.11111%;
		max-width: 11.11111%
	}
	[class*=_sm-10]>[class*=col-],
	[class*=_sm-10]>[class*=col_],
	[class*=_sm-10]>[class~=col] {
		flex-basis: 10%;
		max-width: 10%
	}
	[class*=_sm-11]>[class*=col-],
	[class*=_sm-11]>[class*=col_],
	[class*=_sm-11]>[class~=col] {
		flex-basis: 9.09091%;
		max-width: 9.09091%
	}
	[class*=_sm-12]>[class*=col-],
	[class*=_sm-12]>[class*=col_],
	[class*=_sm-12]>[class~=col] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
}

@media screen and (max-width:400px) {
	[class*=_xs-1]>[class*=col-],
	[class*=_xs-1]>[class*=col_],
	[class*=_xs-1]>[class~=col] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=_xs-2]>[class*=col-],
	[class*=_xs-2]>[class*=col_],
	[class*=_xs-2]>[class~=col] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=_xs-3]>[class*=col-],
	[class*=_xs-3]>[class*=col_],
	[class*=_xs-3]>[class~=col] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=_xs-4]>[class*=col-],
	[class*=_xs-4]>[class*=col_],
	[class*=_xs-4]>[class~=col] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=_xs-5]>[class*=col-],
	[class*=_xs-5]>[class*=col_],
	[class*=_xs-5]>[class~=col] {
		flex-basis: 20%;
		max-width: 20%
	}
	[class*=_xs-6]>[class*=col-],
	[class*=_xs-6]>[class*=col_],
	[class*=_xs-6]>[class~=col] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=_xs-7]>[class*=col-],
	[class*=_xs-7]>[class*=col_],
	[class*=_xs-7]>[class~=col] {
		flex-basis: 14.28571%;
		max-width: 14.28571%
	}
	[class*=_xs-8]>[class*=col-],
	[class*=_xs-8]>[class*=col_],
	[class*=_xs-8]>[class~=col] {
		flex-basis: 12.5%;
		max-width: 12.5%
	}
	[class*=_xs-9]>[class*=col-],
	[class*=_xs-9]>[class*=col_],
	[class*=_xs-9]>[class~=col] {
		flex-basis: 11.11111%;
		max-width: 11.11111%
	}
	[class*=_xs-10]>[class*=col-],
	[class*=_xs-10]>[class*=col_],
	[class*=_xs-10]>[class~=col] {
		flex-basis: 10%;
		max-width: 10%
	}
	[class*=_xs-11]>[class*=col-],
	[class*=_xs-11]>[class*=col_],
	[class*=_xs-11]>[class~=col] {
		flex-basis: 9.09091%;
		max-width: 9.09091%
	}
	[class*=_xs-12]>[class*=col-],
	[class*=_xs-12]>[class*=col_],
	[class*=_xs-12]>[class~=col] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
}

[class*=grid-]>[class*=col-1],
[class*=grid_]>[class*=col-1],
[class~=grid]>[class*=col-1] {
	flex-basis: 8.33333%;
	max-width: 8.33333%
}

[class*=grid-]>[class*=col-2],
[class*=grid_]>[class*=col-2],
[class~=grid]>[class*=col-2] {
	flex-basis: 16.66667%;
	max-width: 16.66667%
}

[class*=grid-]>[class*=col-3],
[class*=grid_]>[class*=col-3],
[class~=grid]>[class*=col-3] {
	flex-basis: 25%;
	max-width: 25%
}

[class*=grid-]>[class*=col-4],
[class*=grid_]>[class*=col-4],
[class~=grid]>[class*=col-4] {
	flex-basis: 33.33333%;
	max-width: 33.33333%
}

[class*=grid-]>[class*=col-5],
[class*=grid_]>[class*=col-5],
[class~=grid]>[class*=col-5] {
	flex-basis: 41.66667%;
	max-width: 41.66667%
}

[class*=grid-]>[class*=col-6],
[class*=grid_]>[class*=col-6],
[class~=grid]>[class*=col-6] {
	flex-basis: 50%;
	max-width: 50%
}

[class*=grid-]>[class*=col-7],
[class*=grid_]>[class*=col-7],
[class~=grid]>[class*=col-7] {
	flex-basis: 58.33333%;
	max-width: 58.33333%
}

[class*=grid-]>[class*=col-8],
[class*=grid_]>[class*=col-8],
[class~=grid]>[class*=col-8] {
	flex-basis: 66.66667%;
	max-width: 66.66667%
}

[class*=grid-]>[class*=col-9],
[class*=grid_]>[class*=col-9],
[class~=grid]>[class*=col-9] {
	flex-basis: 75%;
	max-width: 75%
}

[class*=grid-]>[class*=col-10],
[class*=grid_]>[class*=col-10],
[class~=grid]>[class*=col-10] {
	flex-basis: 83.33333%;
	max-width: 83.33333%
}

[class*=grid-]>[class*=col-11],
[class*=grid_]>[class*=col-11],
[class~=grid]>[class*=col-11] {
	flex-basis: 91.66667%;
	max-width: 91.66667%
}

[class*=grid-]>[class*=col-12],
[class*=grid_]>[class*=col-12],
[class~=grid]>[class*=col-12] {
	flex-basis: 100%;
	max-width: 100%
}

[class*=grid-]>[data-push-left*=off-0],
[class*=grid_]>[data-push-left*=off-0],
[class~=grid]>[data-push-left*=off-0] {
	margin-left: 0
}

[class*=grid-]>[data-push-left*=off-1],
[class*=grid_]>[data-push-left*=off-1],
[class~=grid]>[data-push-left*=off-1] {
	margin-left: 8.33333%
}

[class*=grid-]>[data-push-left*=off-2],
[class*=grid_]>[data-push-left*=off-2],
[class~=grid]>[data-push-left*=off-2] {
	margin-left: 16.66667%
}

[class*=grid-]>[data-push-left*=off-3],
[class*=grid_]>[data-push-left*=off-3],
[class~=grid]>[data-push-left*=off-3] {
	margin-left: 25%
}

[class*=grid-]>[data-push-left*=off-4],
[class*=grid_]>[data-push-left*=off-4],
[class~=grid]>[data-push-left*=off-4] {
	margin-left: 33.33333%
}

[class*=grid-]>[data-push-left*=off-5],
[class*=grid_]>[data-push-left*=off-5],
[class~=grid]>[data-push-left*=off-5] {
	margin-left: 41.66667%
}

[class*=grid-]>[data-push-left*=off-6],
[class*=grid_]>[data-push-left*=off-6],
[class~=grid]>[data-push-left*=off-6] {
	margin-left: 50%
}

[class*=grid-]>[data-push-left*=off-7],
[class*=grid_]>[data-push-left*=off-7],
[class~=grid]>[data-push-left*=off-7] {
	margin-left: 58.33333%
}

[class*=grid-]>[data-push-left*=off-8],
[class*=grid_]>[data-push-left*=off-8],
[class~=grid]>[data-push-left*=off-8] {
	margin-left: 66.66667%
}

[class*=grid-]>[data-push-left*=off-9],
[class*=grid_]>[data-push-left*=off-9],
[class~=grid]>[data-push-left*=off-9] {
	margin-left: 75%
}

[class*=grid-]>[data-push-left*=off-10],
[class*=grid_]>[data-push-left*=off-10],
[class~=grid]>[data-push-left*=off-10] {
	margin-left: 83.33333%
}

[class*=grid-]>[data-push-left*=off-11],
[class*=grid_]>[data-push-left*=off-11],
[class~=grid]>[data-push-left*=off-11] {
	margin-left: 91.66667%
}

[class*=grid-]>[data-push-right*=off-0],
[class*=grid_]>[data-push-right*=off-0],
[class~=grid]>[data-push-right*=off-0] {
	margin-right: 0
}

[class*=grid-]>[data-push-right*=off-1],
[class*=grid_]>[data-push-right*=off-1],
[class~=grid]>[data-push-right*=off-1] {
	margin-right: 8.33333%
}

[class*=grid-]>[data-push-right*=off-2],
[class*=grid_]>[data-push-right*=off-2],
[class~=grid]>[data-push-right*=off-2] {
	margin-right: 16.66667%
}

[class*=grid-]>[data-push-right*=off-3],
[class*=grid_]>[data-push-right*=off-3],
[class~=grid]>[data-push-right*=off-3] {
	margin-right: 25%
}

[class*=grid-]>[data-push-right*=off-4],
[class*=grid_]>[data-push-right*=off-4],
[class~=grid]>[data-push-right*=off-4] {
	margin-right: 33.33333%
}

[class*=grid-]>[data-push-right*=off-5],
[class*=grid_]>[data-push-right*=off-5],
[class~=grid]>[data-push-right*=off-5] {
	margin-right: 41.66667%
}

[class*=grid-]>[data-push-right*=off-6],
[class*=grid_]>[data-push-right*=off-6],
[class~=grid]>[data-push-right*=off-6] {
	margin-right: 50%
}

[class*=grid-]>[data-push-right*=off-7],
[class*=grid_]>[data-push-right*=off-7],
[class~=grid]>[data-push-right*=off-7] {
	margin-right: 58.33333%
}

[class*=grid-]>[data-push-right*=off-8],
[class*=grid_]>[data-push-right*=off-8],
[class~=grid]>[data-push-right*=off-8] {
	margin-right: 66.66667%
}

[class*=grid-]>[data-push-right*=off-9],
[class*=grid_]>[data-push-right*=off-9],
[class~=grid]>[data-push-right*=off-9] {
	margin-right: 75%
}

[class*=grid-]>[data-push-right*=off-10],
[class*=grid_]>[data-push-right*=off-10],
[class~=grid]>[data-push-right*=off-10] {
	margin-right: 83.33333%
}

[class*=grid-]>[data-push-right*=off-11],
[class*=grid_]>[data-push-right*=off-11],
[class~=grid]>[data-push-right*=off-11] {
	margin-right: 91.66667%
}

@media screen and (min-width:1024px) and (max-width:1599px) {
	[class*=grid-]>[class*=_lg-1],
	[class*=grid_]>[class*=_lg-1],
	[class~=grid]>[class*=_lg-1] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
	[class*=grid-]>[class*=_lg-2],
	[class*=grid_]>[class*=_lg-2],
	[class~=grid]>[class*=_lg-2] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=grid-]>[class*=_lg-3],
	[class*=grid_]>[class*=_lg-3],
	[class~=grid]>[class*=_lg-3] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=grid-]>[class*=_lg-4],
	[class*=grid_]>[class*=_lg-4],
	[class~=grid]>[class*=_lg-4] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=grid-]>[class*=_lg-5],
	[class*=grid_]>[class*=_lg-5],
	[class~=grid]>[class*=_lg-5] {
		flex-basis: 41.66667%;
		max-width: 41.66667%
	}
	[class*=grid-]>[class*=_lg-6],
	[class*=grid_]>[class*=_lg-6],
	[class~=grid]>[class*=_lg-6] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=grid-]>[class*=_lg-7],
	[class*=grid_]>[class*=_lg-7],
	[class~=grid]>[class*=_lg-7] {
		flex-basis: 58.33333%;
		max-width: 58.33333%
	}
	[class*=grid-]>[class*=_lg-8],
	[class*=grid_]>[class*=_lg-8],
	[class~=grid]>[class*=_lg-8] {
		flex-basis: 66.66667%;
		max-width: 66.66667%
	}
	[class*=grid-]>[class*=_lg-9],
	[class*=grid_]>[class*=_lg-9],
	[class~=grid]>[class*=_lg-9] {
		flex-basis: 75%;
		max-width: 75%
	}
	[class*=grid-]>[class*=_lg-10],
	[class*=grid_]>[class*=_lg-10],
	[class~=grid]>[class*=_lg-10] {
		flex-basis: 83.33333%;
		max-width: 83.33333%
	}
	[class*=grid-]>[class*=_lg-11],
	[class*=grid_]>[class*=_lg-11],
	[class~=grid]>[class*=_lg-11] {
		flex-basis: 91.66667%;
		max-width: 91.66667%
	}
	[class*=grid-]>[class*=_lg-12],
	[class*=grid_]>[class*=_lg-12],
	[class~=grid]>[class*=_lg-12] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=grid-]>[data-push-left*=_lg-0],
	[class*=grid_]>[data-push-left*=_lg-0],
	[class~=grid]>[data-push-left*=_lg-0] {
		margin-left: 0
	}
	[class*=grid-]>[data-push-left*=_lg-1],
	[class*=grid_]>[data-push-left*=_lg-1],
	[class~=grid]>[data-push-left*=_lg-1] {
		margin-left: 8.33333%
	}
	[class*=grid-]>[data-push-left*=_lg-2],
	[class*=grid_]>[data-push-left*=_lg-2],
	[class~=grid]>[data-push-left*=_lg-2] {
		margin-left: 16.66667%
	}
	[class*=grid-]>[data-push-left*=_lg-3],
	[class*=grid_]>[data-push-left*=_lg-3],
	[class~=grid]>[data-push-left*=_lg-3] {
		margin-left: 25%
	}
	[class*=grid-]>[data-push-left*=_lg-4],
	[class*=grid_]>[data-push-left*=_lg-4],
	[class~=grid]>[data-push-left*=_lg-4] {
		margin-left: 33.33333%
	}
	[class*=grid-]>[data-push-left*=_lg-5],
	[class*=grid_]>[data-push-left*=_lg-5],
	[class~=grid]>[data-push-left*=_lg-5] {
		margin-left: 41.66667%
	}
	[class*=grid-]>[data-push-left*=_lg-6],
	[class*=grid_]>[data-push-left*=_lg-6],
	[class~=grid]>[data-push-left*=_lg-6] {
		margin-left: 50%
	}
	[class*=grid-]>[data-push-left*=_lg-7],
	[class*=grid_]>[data-push-left*=_lg-7],
	[class~=grid]>[data-push-left*=_lg-7] {
		margin-left: 58.33333%
	}
	[class*=grid-]>[data-push-left*=_lg-8],
	[class*=grid_]>[data-push-left*=_lg-8],
	[class~=grid]>[data-push-left*=_lg-8] {
		margin-left: 66.66667%
	}
	[class*=grid-]>[data-push-left*=_lg-9],
	[class*=grid_]>[data-push-left*=_lg-9],
	[class~=grid]>[data-push-left*=_lg-9] {
		margin-left: 75%
	}
	[class*=grid-]>[data-push-left*=_lg-10],
	[class*=grid_]>[data-push-left*=_lg-10],
	[class~=grid]>[data-push-left*=_lg-10] {
		margin-left: 83.33333%
	}
	[class*=grid-]>[data-push-left*=_lg-11],
	[class*=grid_]>[data-push-left*=_lg-11],
	[class~=grid]>[data-push-left*=_lg-11] {
		margin-left: 91.66667%
	}
	[class*=grid-]>[data-push-right*=_lg-0],
	[class*=grid_]>[data-push-right*=_lg-0],
	[class~=grid]>[data-push-right*=_lg-0] {
		margin-right: 0
	}
	[class*=grid-]>[data-push-right*=_lg-1],
	[class*=grid_]>[data-push-right*=_lg-1],
	[class~=grid]>[data-push-right*=_lg-1] {
		margin-right: 8.33333%
	}
	[class*=grid-]>[data-push-right*=_lg-2],
	[class*=grid_]>[data-push-right*=_lg-2],
	[class~=grid]>[data-push-right*=_lg-2] {
		margin-right: 16.66667%
	}
	[class*=grid-]>[data-push-right*=_lg-3],
	[class*=grid_]>[data-push-right*=_lg-3],
	[class~=grid]>[data-push-right*=_lg-3] {
		margin-right: 25%
	}
	[class*=grid-]>[data-push-right*=_lg-4],
	[class*=grid_]>[data-push-right*=_lg-4],
	[class~=grid]>[data-push-right*=_lg-4] {
		margin-right: 33.33333%
	}
	[class*=grid-]>[data-push-right*=_lg-5],
	[class*=grid_]>[data-push-right*=_lg-5],
	[class~=grid]>[data-push-right*=_lg-5] {
		margin-right: 41.66667%
	}
	[class*=grid-]>[data-push-right*=_lg-6],
	[class*=grid_]>[data-push-right*=_lg-6],
	[class~=grid]>[data-push-right*=_lg-6] {
		margin-right: 50%
	}
	[class*=grid-]>[data-push-right*=_lg-7],
	[class*=grid_]>[data-push-right*=_lg-7],
	[class~=grid]>[data-push-right*=_lg-7] {
		margin-right: 58.33333%
	}
	[class*=grid-]>[data-push-right*=_lg-8],
	[class*=grid_]>[data-push-right*=_lg-8],
	[class~=grid]>[data-push-right*=_lg-8] {
		margin-right: 66.66667%
	}
	[class*=grid-]>[data-push-right*=_lg-9],
	[class*=grid_]>[data-push-right*=_lg-9],
	[class~=grid]>[data-push-right*=_lg-9] {
		margin-right: 75%
	}
	[class*=grid-]>[data-push-right*=_lg-10],
	[class*=grid_]>[data-push-right*=_lg-10],
	[class~=grid]>[data-push-right*=_lg-10] {
		margin-right: 83.33333%
	}
	[class*=grid-]>[data-push-right*=_lg-11],
	[class*=grid_]>[data-push-right*=_lg-11],
	[class~=grid]>[data-push-right*=_lg-11] {
		margin-right: 91.66667%
	}
}

@media screen and (max-width:1023px) {
	[class*=grid-]>[class*=_md-1],
	[class*=grid_]>[class*=_md-1],
	[class~=grid]>[class*=_md-1] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
	[class*=grid-]>[class*=_md-2],
	[class*=grid_]>[class*=_md-2],
	[class~=grid]>[class*=_md-2] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=grid-]>[class*=_md-3],
	[class*=grid_]>[class*=_md-3],
	[class~=grid]>[class*=_md-3] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=grid-]>[class*=_md-4],
	[class*=grid_]>[class*=_md-4],
	[class~=grid]>[class*=_md-4] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=grid-]>[class*=_md-5],
	[class*=grid_]>[class*=_md-5],
	[class~=grid]>[class*=_md-5] {
		flex-basis: 41.66667%;
		max-width: 41.66667%
	}
	[class*=grid-]>[class*=_md-6],
	[class*=grid_]>[class*=_md-6],
	[class~=grid]>[class*=_md-6] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=grid-]>[class*=_md-7],
	[class*=grid_]>[class*=_md-7],
	[class~=grid]>[class*=_md-7] {
		flex-basis: 58.33333%;
		max-width: 58.33333%
	}
	[class*=grid-]>[class*=_md-8],
	[class*=grid_]>[class*=_md-8],
	[class~=grid]>[class*=_md-8] {
		flex-basis: 66.66667%;
		max-width: 66.66667%
	}
	[class*=grid-]>[class*=_md-9],
	[class*=grid_]>[class*=_md-9],
	[class~=grid]>[class*=_md-9] {
		flex-basis: 75%;
		max-width: 75%
	}
	[class*=grid-]>[class*=_md-10],
	[class*=grid_]>[class*=_md-10],
	[class~=grid]>[class*=_md-10] {
		flex-basis: 83.33333%;
		max-width: 83.33333%
	}
	[class*=grid-]>[class*=_md-11],
	[class*=grid_]>[class*=_md-11],
	[class~=grid]>[class*=_md-11] {
		flex-basis: 91.66667%;
		max-width: 91.66667%
	}
	[class*=grid-]>[class*=_md-12],
	[class*=grid_]>[class*=_md-12],
	[class~=grid]>[class*=_md-12] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=grid-]>[data-push-left*=_md-0],
	[class*=grid_]>[data-push-left*=_md-0],
	[class~=grid]>[data-push-left*=_md-0] {
		margin-left: 0
	}
	[class*=grid-]>[data-push-left*=_md-1],
	[class*=grid_]>[data-push-left*=_md-1],
	[class~=grid]>[data-push-left*=_md-1] {
		margin-left: 8.33333%
	}
	[class*=grid-]>[data-push-left*=_md-2],
	[class*=grid_]>[data-push-left*=_md-2],
	[class~=grid]>[data-push-left*=_md-2] {
		margin-left: 16.66667%
	}
	[class*=grid-]>[data-push-left*=_md-3],
	[class*=grid_]>[data-push-left*=_md-3],
	[class~=grid]>[data-push-left*=_md-3] {
		margin-left: 25%
	}
	[class*=grid-]>[data-push-left*=_md-4],
	[class*=grid_]>[data-push-left*=_md-4],
	[class~=grid]>[data-push-left*=_md-4] {
		margin-left: 33.33333%
	}
	[class*=grid-]>[data-push-left*=_md-5],
	[class*=grid_]>[data-push-left*=_md-5],
	[class~=grid]>[data-push-left*=_md-5] {
		margin-left: 41.66667%
	}
	[class*=grid-]>[data-push-left*=_md-6],
	[class*=grid_]>[data-push-left*=_md-6],
	[class~=grid]>[data-push-left*=_md-6] {
		margin-left: 50%
	}
	[class*=grid-]>[data-push-left*=_md-7],
	[class*=grid_]>[data-push-left*=_md-7],
	[class~=grid]>[data-push-left*=_md-7] {
		margin-left: 58.33333%
	}
	[class*=grid-]>[data-push-left*=_md-8],
	[class*=grid_]>[data-push-left*=_md-8],
	[class~=grid]>[data-push-left*=_md-8] {
		margin-left: 66.66667%
	}
	[class*=grid-]>[data-push-left*=_md-9],
	[class*=grid_]>[data-push-left*=_md-9],
	[class~=grid]>[data-push-left*=_md-9] {
		margin-left: 75%
	}
	[class*=grid-]>[data-push-left*=_md-10],
	[class*=grid_]>[data-push-left*=_md-10],
	[class~=grid]>[data-push-left*=_md-10] {
		margin-left: 83.33333%
	}
	[class*=grid-]>[data-push-left*=_md-11],
	[class*=grid_]>[data-push-left*=_md-11],
	[class~=grid]>[data-push-left*=_md-11] {
		margin-left: 91.66667%
	}
	[class*=grid-]>[data-push-right*=_md-0],
	[class*=grid_]>[data-push-right*=_md-0],
	[class~=grid]>[data-push-right*=_md-0] {
		margin-right: 0
	}
	[class*=grid-]>[data-push-right*=_md-1],
	[class*=grid_]>[data-push-right*=_md-1],
	[class~=grid]>[data-push-right*=_md-1] {
		margin-right: 8.33333%
	}
	[class*=grid-]>[data-push-right*=_md-2],
	[class*=grid_]>[data-push-right*=_md-2],
	[class~=grid]>[data-push-right*=_md-2] {
		margin-right: 16.66667%
	}
	[class*=grid-]>[data-push-right*=_md-3],
	[class*=grid_]>[data-push-right*=_md-3],
	[class~=grid]>[data-push-right*=_md-3] {
		margin-right: 25%
	}
	[class*=grid-]>[data-push-right*=_md-4],
	[class*=grid_]>[data-push-right*=_md-4],
	[class~=grid]>[data-push-right*=_md-4] {
		margin-right: 33.33333%
	}
	[class*=grid-]>[data-push-right*=_md-5],
	[class*=grid_]>[data-push-right*=_md-5],
	[class~=grid]>[data-push-right*=_md-5] {
		margin-right: 41.66667%
	}
	[class*=grid-]>[data-push-right*=_md-6],
	[class*=grid_]>[data-push-right*=_md-6],
	[class~=grid]>[data-push-right*=_md-6] {
		margin-right: 50%
	}
	[class*=grid-]>[data-push-right*=_md-7],
	[class*=grid_]>[data-push-right*=_md-7],
	[class~=grid]>[data-push-right*=_md-7] {
		margin-right: 58.33333%
	}
	[class*=grid-]>[data-push-right*=_md-8],
	[class*=grid_]>[data-push-right*=_md-8],
	[class~=grid]>[data-push-right*=_md-8] {
		margin-right: 66.66667%
	}
	[class*=grid-]>[data-push-right*=_md-9],
	[class*=grid_]>[data-push-right*=_md-9],
	[class~=grid]>[data-push-right*=_md-9] {
		margin-right: 75%
	}
	[class*=grid-]>[data-push-right*=_md-10],
	[class*=grid_]>[data-push-right*=_md-10],
	[class~=grid]>[data-push-right*=_md-10] {
		margin-right: 83.33333%
	}
	[class*=grid-]>[data-push-right*=_md-11],
	[class*=grid_]>[data-push-right*=_md-11],
	[class~=grid]>[data-push-right*=_md-11] {
		margin-right: 91.66667%
	}
}

@media screen and (max-width:767px) {
	[class*=grid-]>[class*=_sm-1],
	[class*=grid_]>[class*=_sm-1],
	[class~=grid]>[class*=_sm-1] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
	[class*=grid-]>[class*=_sm-2],
	[class*=grid_]>[class*=_sm-2],
	[class~=grid]>[class*=_sm-2] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=grid-]>[class*=_sm-3],
	[class*=grid_]>[class*=_sm-3],
	[class~=grid]>[class*=_sm-3] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=grid-]>[class*=_sm-4],
	[class*=grid_]>[class*=_sm-4],
	[class~=grid]>[class*=_sm-4] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=grid-]>[class*=_sm-5],
	[class*=grid_]>[class*=_sm-5],
	[class~=grid]>[class*=_sm-5] {
		flex-basis: 41.66667%;
		max-width: 41.66667%
	}
	[class*=grid-]>[class*=_sm-6],
	[class*=grid_]>[class*=_sm-6],
	[class~=grid]>[class*=_sm-6] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=grid-]>[class*=_sm-7],
	[class*=grid_]>[class*=_sm-7],
	[class~=grid]>[class*=_sm-7] {
		flex-basis: 58.33333%;
		max-width: 58.33333%
	}
	[class*=grid-]>[class*=_sm-8],
	[class*=grid_]>[class*=_sm-8],
	[class~=grid]>[class*=_sm-8] {
		flex-basis: 66.66667%;
		max-width: 66.66667%
	}
	[class*=grid-]>[class*=_sm-9],
	[class*=grid_]>[class*=_sm-9],
	[class~=grid]>[class*=_sm-9] {
		flex-basis: 75%;
		max-width: 75%
	}
	[class*=grid-]>[class*=_sm-10],
	[class*=grid_]>[class*=_sm-10],
	[class~=grid]>[class*=_sm-10] {
		flex-basis: 83.33333%;
		max-width: 83.33333%
	}
	[class*=grid-]>[class*=_sm-11],
	[class*=grid_]>[class*=_sm-11],
	[class~=grid]>[class*=_sm-11] {
		flex-basis: 91.66667%;
		max-width: 91.66667%
	}
	[class*=grid-]>[class*=_sm-12],
	[class*=grid_]>[class*=_sm-12],
	[class~=grid]>[class*=_sm-12] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=grid-]>[data-push-left*=_sm-0],
	[class*=grid_]>[data-push-left*=_sm-0],
	[class~=grid]>[data-push-left*=_sm-0] {
		margin-left: 0
	}
	[class*=grid-]>[data-push-left*=_sm-1],
	[class*=grid_]>[data-push-left*=_sm-1],
	[class~=grid]>[data-push-left*=_sm-1] {
		margin-left: 8.33333%
	}
	[class*=grid-]>[data-push-left*=_sm-2],
	[class*=grid_]>[data-push-left*=_sm-2],
	[class~=grid]>[data-push-left*=_sm-2] {
		margin-left: 16.66667%
	}
	[class*=grid-]>[data-push-left*=_sm-3],
	[class*=grid_]>[data-push-left*=_sm-3],
	[class~=grid]>[data-push-left*=_sm-3] {
		margin-left: 25%
	}
	[class*=grid-]>[data-push-left*=_sm-4],
	[class*=grid_]>[data-push-left*=_sm-4],
	[class~=grid]>[data-push-left*=_sm-4] {
		margin-left: 33.33333%
	}
	[class*=grid-]>[data-push-left*=_sm-5],
	[class*=grid_]>[data-push-left*=_sm-5],
	[class~=grid]>[data-push-left*=_sm-5] {
		margin-left: 41.66667%
	}
	[class*=grid-]>[data-push-left*=_sm-6],
	[class*=grid_]>[data-push-left*=_sm-6],
	[class~=grid]>[data-push-left*=_sm-6] {
		margin-left: 50%
	}
	[class*=grid-]>[data-push-left*=_sm-7],
	[class*=grid_]>[data-push-left*=_sm-7],
	[class~=grid]>[data-push-left*=_sm-7] {
		margin-left: 58.33333%
	}
	[class*=grid-]>[data-push-left*=_sm-8],
	[class*=grid_]>[data-push-left*=_sm-8],
	[class~=grid]>[data-push-left*=_sm-8] {
		margin-left: 66.66667%
	}
	[class*=grid-]>[data-push-left*=_sm-9],
	[class*=grid_]>[data-push-left*=_sm-9],
	[class~=grid]>[data-push-left*=_sm-9] {
		margin-left: 75%
	}
	[class*=grid-]>[data-push-left*=_sm-10],
	[class*=grid_]>[data-push-left*=_sm-10],
	[class~=grid]>[data-push-left*=_sm-10] {
		margin-left: 83.33333%
	}
	[class*=grid-]>[data-push-left*=_sm-11],
	[class*=grid_]>[data-push-left*=_sm-11],
	[class~=grid]>[data-push-left*=_sm-11] {
		margin-left: 91.66667%
	}
	[class*=grid-]>[data-push-right*=_sm-0],
	[class*=grid_]>[data-push-right*=_sm-0],
	[class~=grid]>[data-push-right*=_sm-0] {
		margin-right: 0
	}
	[class*=grid-]>[data-push-right*=_sm-1],
	[class*=grid_]>[data-push-right*=_sm-1],
	[class~=grid]>[data-push-right*=_sm-1] {
		margin-right: 8.33333%
	}
	[class*=grid-]>[data-push-right*=_sm-2],
	[class*=grid_]>[data-push-right*=_sm-2],
	[class~=grid]>[data-push-right*=_sm-2] {
		margin-right: 16.66667%
	}
	[class*=grid-]>[data-push-right*=_sm-3],
	[class*=grid_]>[data-push-right*=_sm-3],
	[class~=grid]>[data-push-right*=_sm-3] {
		margin-right: 25%
	}
	[class*=grid-]>[data-push-right*=_sm-4],
	[class*=grid_]>[data-push-right*=_sm-4],
	[class~=grid]>[data-push-right*=_sm-4] {
		margin-right: 33.33333%
	}
	[class*=grid-]>[data-push-right*=_sm-5],
	[class*=grid_]>[data-push-right*=_sm-5],
	[class~=grid]>[data-push-right*=_sm-5] {
		margin-right: 41.66667%
	}
	[class*=grid-]>[data-push-right*=_sm-6],
	[class*=grid_]>[data-push-right*=_sm-6],
	[class~=grid]>[data-push-right*=_sm-6] {
		margin-right: 50%
	}
	[class*=grid-]>[data-push-right*=_sm-7],
	[class*=grid_]>[data-push-right*=_sm-7],
	[class~=grid]>[data-push-right*=_sm-7] {
		margin-right: 58.33333%
	}
	[class*=grid-]>[data-push-right*=_sm-8],
	[class*=grid_]>[data-push-right*=_sm-8],
	[class~=grid]>[data-push-right*=_sm-8] {
		margin-right: 66.66667%
	}
	[class*=grid-]>[data-push-right*=_sm-9],
	[class*=grid_]>[data-push-right*=_sm-9],
	[class~=grid]>[data-push-right*=_sm-9] {
		margin-right: 75%
	}
	[class*=grid-]>[data-push-right*=_sm-10],
	[class*=grid_]>[data-push-right*=_sm-10],
	[class~=grid]>[data-push-right*=_sm-10] {
		margin-right: 83.33333%
	}
	[class*=grid-]>[data-push-right*=_sm-11],
	[class*=grid_]>[data-push-right*=_sm-11],
	[class~=grid]>[data-push-right*=_sm-11] {
		margin-right: 91.66667%
	}
}

@media screen and (max-width:400px) {
	[class*=grid-]>[class*=_xs-1],
	[class*=grid_]>[class*=_xs-1],
	[class~=grid]>[class*=_xs-1] {
		flex-basis: 8.33333%;
		max-width: 8.33333%
	}
	[class*=grid-]>[class*=_xs-2],
	[class*=grid_]>[class*=_xs-2],
	[class~=grid]>[class*=_xs-2] {
		flex-basis: 16.66667%;
		max-width: 16.66667%
	}
	[class*=grid-]>[class*=_xs-3],
	[class*=grid_]>[class*=_xs-3],
	[class~=grid]>[class*=_xs-3] {
		flex-basis: 25%;
		max-width: 25%
	}
	[class*=grid-]>[class*=_xs-4],
	[class*=grid_]>[class*=_xs-4],
	[class~=grid]>[class*=_xs-4] {
		flex-basis: 33.33333%;
		max-width: 33.33333%
	}
	[class*=grid-]>[class*=_xs-5],
	[class*=grid_]>[class*=_xs-5],
	[class~=grid]>[class*=_xs-5] {
		flex-basis: 41.66667%;
		max-width: 41.66667%
	}
	[class*=grid-]>[class*=_xs-6],
	[class*=grid_]>[class*=_xs-6],
	[class~=grid]>[class*=_xs-6] {
		flex-basis: 50%;
		max-width: 50%
	}
	[class*=grid-]>[class*=_xs-7],
	[class*=grid_]>[class*=_xs-7],
	[class~=grid]>[class*=_xs-7] {
		flex-basis: 58.33333%;
		max-width: 58.33333%
	}
	[class*=grid-]>[class*=_xs-8],
	[class*=grid_]>[class*=_xs-8],
	[class~=grid]>[class*=_xs-8] {
		flex-basis: 66.66667%;
		max-width: 66.66667%
	}
	[class*=grid-]>[class*=_xs-9],
	[class*=grid_]>[class*=_xs-9],
	[class~=grid]>[class*=_xs-9] {
		flex-basis: 75%;
		max-width: 75%
	}
	[class*=grid-]>[class*=_xs-10],
	[class*=grid_]>[class*=_xs-10],
	[class~=grid]>[class*=_xs-10] {
		flex-basis: 83.33333%;
		max-width: 83.33333%
	}
	[class*=grid-]>[class*=_xs-11],
	[class*=grid_]>[class*=_xs-11],
	[class~=grid]>[class*=_xs-11] {
		flex-basis: 91.66667%;
		max-width: 91.66667%
	}
	[class*=grid-]>[class*=_xs-12],
	[class*=grid_]>[class*=_xs-12],
	[class~=grid]>[class*=_xs-12] {
		flex-basis: 100%;
		max-width: 100%
	}
	[class*=grid-]>[data-push-left*=_xs-0],
	[class*=grid_]>[data-push-left*=_xs-0],
	[class~=grid]>[data-push-left*=_xs-0] {
		margin-left: 0
	}
	[class*=grid-]>[data-push-left*=_xs-1],
	[class*=grid_]>[data-push-left*=_xs-1],
	[class~=grid]>[data-push-left*=_xs-1] {
		margin-left: 8.33333%
	}
	[class*=grid-]>[data-push-left*=_xs-2],
	[class*=grid_]>[data-push-left*=_xs-2],
	[class~=grid]>[data-push-left*=_xs-2] {
		margin-left: 16.66667%
	}
	[class*=grid-]>[data-push-left*=_xs-3],
	[class*=grid_]>[data-push-left*=_xs-3],
	[class~=grid]>[data-push-left*=_xs-3] {
		margin-left: 25%
	}
	[class*=grid-]>[data-push-left*=_xs-4],
	[class*=grid_]>[data-push-left*=_xs-4],
	[class~=grid]>[data-push-left*=_xs-4] {
		margin-left: 33.33333%
	}
	[class*=grid-]>[data-push-left*=_xs-5],
	[class*=grid_]>[data-push-left*=_xs-5],
	[class~=grid]>[data-push-left*=_xs-5] {
		margin-left: 41.66667%
	}
	[class*=grid-]>[data-push-left*=_xs-6],
	[class*=grid_]>[data-push-left*=_xs-6],
	[class~=grid]>[data-push-left*=_xs-6] {
		margin-left: 50%
	}
	[class*=grid-]>[data-push-left*=_xs-7],
	[class*=grid_]>[data-push-left*=_xs-7],
	[class~=grid]>[data-push-left*=_xs-7] {
		margin-left: 58.33333%
	}
	[class*=grid-]>[data-push-left*=_xs-8],
	[class*=grid_]>[data-push-left*=_xs-8],
	[class~=grid]>[data-push-left*=_xs-8] {
		margin-left: 66.66667%
	}
	[class*=grid-]>[data-push-left*=_xs-9],
	[class*=grid_]>[data-push-left*=_xs-9],
	[class~=grid]>[data-push-left*=_xs-9] {
		margin-left: 75%
	}
	[class*=grid-]>[data-push-left*=_xs-10],
	[class*=grid_]>[data-push-left*=_xs-10],
	[class~=grid]>[data-push-left*=_xs-10] {
		margin-left: 83.33333%
	}
	[class*=grid-]>[data-push-left*=_xs-11],
	[class*=grid_]>[data-push-left*=_xs-11],
	[class~=grid]>[data-push-left*=_xs-11] {
		margin-left: 91.66667%
	}
	[class*=grid-]>[data-push-right*=_xs-0],
	[class*=grid_]>[data-push-right*=_xs-0],
	[class~=grid]>[data-push-right*=_xs-0] {
		margin-right: 0
	}
	[class*=grid-]>[data-push-right*=_xs-1],
	[class*=grid_]>[data-push-right*=_xs-1],
	[class~=grid]>[data-push-right*=_xs-1] {
		margin-right: 8.33333%
	}
	[class*=grid-]>[data-push-right*=_xs-2],
	[class*=grid_]>[data-push-right*=_xs-2],
	[class~=grid]>[data-push-right*=_xs-2] {
		margin-right: 16.66667%
	}
	[class*=grid-]>[data-push-right*=_xs-3],
	[class*=grid_]>[data-push-right*=_xs-3],
	[class~=grid]>[data-push-right*=_xs-3] {
		margin-right: 25%
	}
	[class*=grid-]>[data-push-right*=_xs-4],
	[class*=grid_]>[data-push-right*=_xs-4],
	[class~=grid]>[data-push-right*=_xs-4] {
		margin-right: 33.33333%
	}
	[class*=grid-]>[data-push-right*=_xs-5],
	[class*=grid_]>[data-push-right*=_xs-5],
	[class~=grid]>[data-push-right*=_xs-5] {
		margin-right: 41.66667%
	}
	[class*=grid-]>[data-push-right*=_xs-6],
	[class*=grid_]>[data-push-right*=_xs-6],
	[class~=grid]>[data-push-right*=_xs-6] {
		margin-right: 50%
	}
	[class*=grid-]>[data-push-right*=_xs-7],
	[class*=grid_]>[data-push-right*=_xs-7],
	[class~=grid]>[data-push-right*=_xs-7] {
		margin-right: 58.33333%
	}
	[class*=grid-]>[data-push-right*=_xs-8],
	[class*=grid_]>[data-push-right*=_xs-8],
	[class~=grid]>[data-push-right*=_xs-8] {
		margin-right: 66.66667%
	}
	[class*=grid-]>[data-push-right*=_xs-9],
	[class*=grid_]>[data-push-right*=_xs-9],
	[class~=grid]>[data-push-right*=_xs-9] {
		margin-right: 75%
	}
	[class*=grid-]>[data-push-right*=_xs-10],
	[class*=grid_]>[data-push-right*=_xs-10],
	[class~=grid]>[data-push-right*=_xs-10] {
		margin-right: 83.33333%
	}
	[class*=grid-]>[data-push-right*=_xs-11],
	[class*=grid_]>[data-push-right*=_xs-11],
	[class~=grid]>[data-push-right*=_xs-11] {
		margin-right: 91.66667%
	}
}

@media screen and (min-width:1024px) and (max-width:1599px) {
	[class*=lg-hidden] {
		display: none
	}
}

@media screen and (max-width:1023px) {
	[class*=md-hidden] {
		display: none
	}
}

@media screen and (max-width:767px) {
	[class*=sm-hidden] {
		display: none
	}
}

@media screen and (max-width:400px) {
	[class*=xs-hidden] {
		display: none
	}
}

.hero {
	align-items: center;
	background-size: cover;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero-bg-mobile.jpg);
	display: flex;
	height: 100vh;
	justify-content: center;
	text-align: center
}

@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:144dpi) {
	.hero {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero-bg-mobile@2x.jpg)
	}
}

@media screen and (min-width:768px) {
	.hero {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero-bgf.jpg)
	}
}

@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:144dpi) {
	.hero {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero-bgf@2x.jpg);
		background-size: cover
	}
}

.hero__text {
	color: #fff
}

.hero__subtitle {
	font-size: 22px;
	margin-top: 10px
}

.c-btn {
	background: none;
	border: 1px solid #d73e4d;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 15px 25px;
	font-size: 18px;
	position: relative;
	vertical-align: middle;
	text-decoration: none;
	transform: perspective(1px) translateZ(0);
	transition-property: color
}

.c-btn,
.c-btn:before {
	transition-duration: .3s
}

.c-btn:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #d43141;
	transform: scaleX(0);
	transform-origin: 50%;
	transition-property: transform;
	transition-timing-function: ease-out
}

.c-btn:active:before,
.c-btn:focus:before,
.c-btn:hover:before {
	transform: scaleX(1)
}

@media screen and (min-width:768px) {
	.c-btn {
		padding: 15px 45px
	}
}

.c-btn--secondary {
	color: #1e1e1e
}

.c-btn--secondary:hover {
	color: #fff
}

.c-section {
	padding: 50px 15px;
	text-align: center
}

@media screen and (min-width:768px) {
	.c-section {
		padding: 55px 15px 60px
	}
}

.c-section:nth-child(odd):not(.c-section--dark) {
	background: #f3f3f3
}

.c-section--dark {
	background: #232a34;
	color: #fff
}

.features {
	list-style: none;
	margin: 0;
	padding: 0
}

.features__item {
	cursor: pointer;
	padding: 55px 10px 10px
}

.features__item:hover .features__icon {
	background: #d73e4d;
	color: #fff
}

.features__icon {
	border-radius: 50%;
	border: 2px solid #d73e4d;
	height: 130px;
	margin: 0 auto 20px;
	transition: all .3s ease;
	width: 130px
}

.features__icon i {
	display: block;
	font-size: 36px;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%)
}

.c-services {
	list-style: none;
	margin: 0 auto;
	padding: 0
}

.c-services li {
	position: relative
}

.c-services__item {
	border: 1px solid #d73e4d;
	cursor: pointer;
	text-align: center;
	margin-top: 50px;
	overflow: hidden;
	padding: 65px 20px
}

.c-services__item h2 {
	margin-top: 15px;
	position: relative;
	top: 47px;
	transition: all .5s ease
}

.c-services__item:hover .c-services__text {
	top: 0;
	transition-delay: .3s;
	transition: .3s;
	visibility: visible
}

.c-services__item:hover h2 {
	position: relative;
	top: -15px;
	transition: .5s
}

.c-services__item:hover .c-services__icon {
	color: #d73e4d;
	margin-top: -90px;
	transition: all .5s ease
}

@media screen and (min-width:768px) {
	.c-services__item {
		margin-top: 20px
	}
}

.c-services__text {
	position: relative;
	top: 250px;
	transition: all .5s ease;
	visibility: hidden;
	z-index: 2
}

.c-services__icon {
	background: #232a34;
	color: #808489;
	display: inline-block;
	font-size: 48px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	transition: all .5s ease
}

.c-skill {
	display: flex;
	justify-content: center;
	flex-wrap: wrap
}

.c-skill__image {
	background: url(../images/skills-mobile.jpg);
	background-size: cover;
	height: 800px;
	width: 100%
}

@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:144dpi) {
	.c-skill__image {
		background: url(../images/skills-mobile@2x.jpg);
		background-size: cover
	}
}

@media screen and (min-width:768px) {
	.c-skill__image {
		background: url(../images/skills.jpg);
		background-size: cover
	}
}

@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:144dpi) {
	.c-skill__image {
		background: url(../images/skills@2x.jpg);
		background-size: cover
	}
}

.c-skill__content {
	padding: 50px 15px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%
}

@media screen and (min-width:768px) {
	.c-skill__content {
		padding: 0
	}
}

.c-skill__list {
	list-style: none;
	margin: 0;
	padding: 0
}

.c-skill__item {
	padding: 20px
}

.c-skill__label {
	display: inline-block;
	margin-bottom: 10px
}

.c-skill__progress {
	width: 100%
}

.c-skill__progress,
.c-skill__progress-value {
	display: inline-block;
	height: 30px;
	position: relative
}

.c-skill__progress-value {
	background: #d73e4d
}

.c-skill__progress-text {
	font-weight: 700;
	position: absolute;
	right: -18px;
	top: -25px
}

.c-pricing {
	background: #f7f8f4;
	border-collapse: collapse;
	box-shadow: 0 0 20px 1px #ccc;
	margin-bottom: 45px;
	transition: all .3s ease;
	width: 100%
}

.c-pricing:hover {
	box-shadow: 0 1px 20px 1px #b3b3b3
}

.c-pricing th {
	border: 1px solid #dfdfdf;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 25px;
	padding: 30px
}

.c-pricing th .c-pricing__subtitle {
	color: #6f6f6f;
	display: block;
	font-size: 16px;
	margin-top: 10px
}

.c-pricing td {
	border: 1px solid #dfdfdf;
	padding: 25px
}

.c-pricing tr:nth-child(2n) {
	background: #f2f4ee
}

@media screen and (min-width:768px) {
	.c-pricing {
		margin-bottom: 0
	}
}

.c-pricing__price {
	background: #d6973d;
	color: #fff;
	font-size: 24px;
	font-weight: 700
}

.c-pricing__price--tier2 {
	background: #375099
}

.c-pricing__price--tier3 {
	background: #179680
}

.c-contact {
	text-align: left
}

.c-contact__list {
	list-style: none;
	margin: 0;
	padding: 0
}

.c-contact__item {
	padding: 10px 0 25px
}

.c-contat__icon {
	background: #d73e4d;
	border-radius: 50%;
	color: #fff;
	float: left;
	font-size: 30px;
	height: 60px;
	position: relative;
	top: 9px;
	width: 60px
}

.c-contat__icon i {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%)
}

.c-contact__text {
	padding-left: 90px
}

.c-contact__heading {
	font-size: 24px;
	font-weight: 700;
	margin: 10px 0
}

.c-contact__map {
	height: 560px;
	width: 100%
}

.c-form-row {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 30px;
	position: relative;
	width: 100%
}

.c-input {
	background: #fff;
	border: 1px solid #171717;
	color: #171717;
	display: flex;
	flex: 1 1 auto;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	outline: none;
	padding: 0 16px;
	width: 1%;
	transition: all .2s ease
}

.c-input:disabled {
	background: #333;
	color: #171;
	cursor: not-allowed
}

.c-input:focus {
	border-color: #171717
}

.c-input.is-active~.c-label,
.c-input:focus~.c-label {
	top: -6px;
	font-size: 12px
}

.is-error .c-input {
	border-color: red
}

.is-error .c-input:focus {
	border-color: #171717
}

.c-input:-internal-autofill-previewed,
.c-input:-internal-autofill-selected,
.c-input:-webkit-autofill {
	background-color: #fff!important;
	border: 1px solid #171717!important;
	-webkit-box-shadow: 0 0 0 100px #fff inset
}

textarea.c-input {
	height: auto;
	max-width: 100%;
	min-height: 80px;
	min-width: 100%;
	padding: 8px 15px;
	width: 100%
}

select.c-input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding-right: 22px
}

select.c-input::-ms-expand {
	display: none
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0
}

input[type=text]::-ms-clear {
	display: none
}

.c-label {
	background: #fff;
	color: #333;
	display: block;
	font-size: 14px;
	left: 15px;
	max-width: 90%;
	overflow: hidden;
	padding: 0 3px;
	pointer-events: none;
	position: absolute;
	text-overflow: ellipsis;
	top: 15px;
	transform-origin: top left;
	white-space: nowrap;
	z-index: 4;
	transition: all .2s ease
}

.c-legend {
	font-size: 36px;
	font-weight: 700;
	margin: 0 0 30px
}

.m-main {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0
}

.m-main.is-open .m-main__list {
	margin-right: 0
}

.m-main--trigger {
	line-height: 60px;
	padding: 0 15px;
	position: relative;
	cursor: pointer
}

.m-main--trigger:focus {
	outline: none
}

.m-main--trigger i {
	margin-right: 5px;
	position: relative;
	top: 1px
}

@media screen and (min-width:768px) {
	.m-main--trigger {
		display: none
	}
}

.m-main__list {
	background: #1e1e1e;
	display: block;
	height: 100%;
	right: 0;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	padding: 40px 0 0;
	position: fixed;
	top: 0;
	margin-right: -200px;
	transition: all .3s linear;
	width: 200px;
	z-index: 1
}

@media screen and (min-width:768px) {
	.m-main__list {
		position: relative;
		padding-top: 0;
		width: auto;
		display: flex;
		margin-right: 0
	}
}

.m-main__item {
	color: #fff
}

@media screen and (min-width:768px) {
	.m-main__item {
		line-height: 60px
	}
}

.m-main__item--trigger {
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 25px;
	padding: 0;
	line-height: 30px;
	font-size: 22px;
	text-align: center
}

.m-main__item--trigger:active,
.m-main__item--trigger:focus,
.m-main__item--trigger:hover {
	color: #d73e4d
}

@media screen and (min-width:768px) {
	.m-main__item--trigger {
		display: none
	}
}

.m-main__link {
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	display: block;
	transition: all .3s linear
}

.m-main__link:hover {
	color: #d73e4d
}

@media screen and (min-width:768px) {
	.m-main__link {
		padding: 0 20px
	}
}

.mb-10 {
	margin-bottom: 10px
}

.mb-20 {
	margin-bottom: 20px
}

.mb-30 {
	margin-bottom: 30px
}

.mb-50 {
	margin-bottom: 50px
}

.pb-0 {
	padding-bottom: 0
}
