@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wexh5b') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wexh5b') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wexh5b##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-chart {
  &:before {
    content: $icon-chart; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-anchor {
  &:before {
    content: $icon-anchor; 
  }
}
.icon-support {
  &:before {
    content: $icon-support; 
  }
}
.icon-brush {
  &:before {
    content: $icon-brush; 
  }
}
.icon-line-chart {
  &:before {
    content: $icon-line-chart; 
  }
}

