$icomoon-font-family: "factory" !default;
$icomoon-font-path: "fonts" !default;

$icon-close: "\f00d";
$icon-camera: "\f030";
$icon-location: "\f041";
$icon-edit: "\f044";
$icon-chart: "\f080";
$icon-phone: "\f095";
$icon-hamburger: "\f0c9";
$icon-envelope: "\f0e0";
$icon-code: "\f121";
$icon-anchor: "\f13d";
$icon-support: "\f1cd";
$icon-brush: "\f1fc";
$icon-line-chart: "\f201";

